<div class="card box-card">
  <div class="card-body">
    <h5 class="card-title">Link Sent Successfully</h5>
    <p class="card-text">A link for changing your password has been sent to <b>{{email}}</b>. Check your mails for the same and login again.</p>
    <a href="/" class="card-link">Login</a>
  </div>
</div>